/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -navbar
	- home page
    -- hero section
    -- service section
    -- why choise us section
    -- our service section
    -- counter section
    -- team section
    -- printer in sucess section
    -- blog section
  - about us page
  - service page
  - blog page
  - contact page
  - inquery page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #ffffff;
  --color-primary: #0861D4;
  --color-secound: #FFB378;
  --color-third: #29384b;
  --color-text: #0C1623;
  --color-pargraph: #182537;
}

.darkmode {
  --color-white: #000000;
  --color-primary: #0861D4;
  --color-secound: #FFB378;
  --color-third: #29384b;
  --color-text: #ffffff;
  --color-pargraph: #5a5a5a;

}

//fonts
@font-face {
  font-family: "light";
  src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Cairo-Bold.ttf");
}

//custom style

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  font-family: "bold";
  color: var(--color-text);
}

p {
  margin-bottom: 0;
  font-size: 0.875em;
  font-family: "regular";
  color: var(--color-pargraph);

}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: "regular";
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0px;
}

/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-primary);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var




.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border-radius: 0px;
    border: 1px solid var(--color-primary);
    font-size: 1rem;
    font-family: "medium";
    text-align: center;
    color: var(--color-white);
    position: relative;
    z-index: 10;
    padding: 1%;

    &:hover {
      background-color: transparent;
      color: var(--color-primary);
    }
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    border-radius: 10px;
    font-size: 0.6rem;
    font-family: "medium";
    line-height: 1;
    text-align: center;
    color: var(--color-text);
    position: relative;
    z-index: 10;
    padding: 2% 1%;
    border: 1px solid var(--color-primary);

    &::before {
      position: absolute;
      content: "";
      background: var(--color-primary);
      width: 0;
      height: 100%;
      border-radius: 10px;
      color: var(--color-text);
      z-index: -1;
      transition: 0.2s all ease-in-out;
    }
  }

  .second:hover::before {
    width: 100%;
  }
}

.main_content_start {
  position: relative;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-inline-end: 10%;
  margin: 2% 0;

  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }

  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
  }
}

.main_title_center {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }

  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
    text-align: center;
  }
}

.header_footer {
  font-size: 1.4rem;
  color: var(--color-white);
  font-family: "bold";
  position: relative;
  margin-bottom: 8%;

  &::after {
    position: absolute;
    content: "";
    top: 31px;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: var(--color-primary);
    color: var(--color-primary);
  }
}

//form content
.input-group {
  position: relative;
  margin-bottom: 3%;

  .icon_form {
    position: absolute;
    left: 0.3rem;
    top: 58%;
  }
}

.form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "medium";
}

.form-control {
  border-radius: 2px;
  padding-inline-start: 4%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";

  &:focus {
    box-shadow: none !important;
    border-color: var(--color-primary) !important;
  }

  &::placeholder {
    color: var(--color-text);
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}

textarea {
  height: 150px;
}

textarea.form-control {
  padding-left: 2%;
}

.form-select {
  border-radius: 8px !important;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: #f5f5f5;
  color: var(--iconcolor);
  background-position: right;
  position: relative;

  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus+.btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */
// watts plugin
.bh-widget-page .bh-w-link {
  display: none;
}

/* hamburger icon */
.navbar .navbar-toggler {
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  border: 1px solid var(--color-white);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}

.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
}

.navbar .navbar-toggler-icon,
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  /* padding: 0 0 0 0.15em !important; */
  display: flex;
  background-image: none;
  background-color: var(--color-primary);
  position: absolute !important;
  transition: all 0.2s ease-in;
}

.navbar .navbar-toggler-icon::before {
  content: "";
  display: block;
  top: -0.3em;
}

.navbar .navbar-toggler-icon::after {
  content: "";
  display: block;
  bottom: -0.3em;
}

.navbar .navbar-toggler:focus {
  /* outline: none !important; */
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-white) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}

.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg);
  /*45+360 */
}

.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}

.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}

/* hamburger icon */

/* start preloader */

#preloader {
  background-image: url(../image/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #161615;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

.progress-wrap {
  position: fixed;
  left: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(95, 58, 252, 0.2);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z'/%3E%3C/svg%3E");
  font-family: "Bootstrap Icons";
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: #2c3941;
  right: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--color-primary);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* finish button up */


// start navbar
.navbar {
  height: fit-content;
  width: 100%;
  display: flex;
  z-index: 10;
  padding: 2% 0%;
  margin: 0;

  .custom-logo-link {
    width: 75px;
    height: 82px;
    text-align: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .navbar-collapse {
    justify-content: flex-end;

    .navbar-nav {
      width: 100%;
      justify-content: flex-end;

      li {
        padding: 5px;
        padding-inline-end: 4%;

        a {
          font-size: 1.2rem;
          color: var(--color-white);
          font-family: 'medium';
          transition: .25s all ease-in-out;

          &:hover {
            color: var(--color-primary);
          }

        }
      }
    }

  }
}

.navbar.change {
  background-color: var(--color-third) !important;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: 0.7s;
}

// finish navbar

//start hero section
.hero_section {
  padding-bottom: 5%;
  position: relative;
  height: 100vh;

  .img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 15%;
    right: 15%;
    animation: move-up 2s linear;

    h6 {
      font-size: 1.3rem;
      color: var(--color-white);
      font-family: 'light';
      padding-bottom: 1rem;
      margin: 0;
    }

    h1 {
      font-size: 4rem;
      color: var(--color-white);
      font-family: 'bold';
      padding-bottom: 2rem;
      text-align: center;
      margin: 0;
    }

    h4 {
      color: var(--color-secound);
      font-family: 'regular';
      font-size: 2.2rem;
      margin: 0;
      padding-bottom: 3rem;
    }

    .button {
      width: 100%;
      justify-content: center;

      .first {
        width: 30%;
      }
    }

  }

}

@keyframes move-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  50% {
    transform: translateY(100px);
    opacity: .5;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//finish hero section
//start about section
.about_section {
  padding: 8% 0 5%;
  position: relative;

  .img {
    position: relative;
    margin: 5%;
    img {
      width: 100%;
      height: 450px;
    }
    .video-play-button {
      position: absolute;
      z-index: 10;
      inset: 0;
      margin: auto;
      display: block;
      cursor: pointer;
      width: 67px;
      height: 67px;
      border: none;
      border-radius: 50%;
      padding: 18px 20px 18px 28px;
      span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 30px solid #fff;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-radius: 4px;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        inset: 0;
        margin: auto;
        display: block;
        width: 80px;
        height: 80px;
        background: linear-gradient(45deg, #a1cf5f 15%, #89af52 70%);
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0;
        margin: auto;
        display: block;
        width: 80px;
        height: 80px;
        background: linear-gradient(45deg, #a1cf5f 15%, #89af52 70%);
        border-radius: 50%;
        transition: all 200ms;
        box-shadow: 0 2px 7px #131b49;
        &:hover::after {
          background-color: $PrimaryColor;
        }
      }
    }
  }
  .video-overlay {
    position: fixed;
    z-index: -1;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: all ease 500ms;
    &.open {
      position: fixed;
      z-index: 1000;
      opacity: 1;
    }
    .video-overlay-close {
      position: absolute;
      z-index: 1000;
      top: 15px;
      right: 20px;
      font-size: 36px;
      line-height: 1;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transition: all 200ms;
      &:hover {
        color: #fa183d;
      }
    }
    iframe {
      position: absolute;
      inset: 0;
      margin: auto;
      width: 80vw;
      height: 47vw;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
      opacity: 0;
      z-index: 1;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
      animation-delay: 0.4s;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
    }
  }
}

//finish about section